*
{
    box-sizing: border-box;
}

body
{
    margin:0;
    padding:0;
    background-color: #707171;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #121212;
    font-size: 18px;
}


main
{
    width: 100%;
    max-width: 980px;
    margin: 50px auto 80px;
    padding: 0 10px;
}
